.AdminRow {
  background-color: #1d1d1b;
  min-height: calc(100vh - 77px);
  color: white;
  max-width: 1320px;
  width: 95%;
  margin: 0 auto; 

  @media (min-width: 992px) {
    .AdminRow {
      padding: 0 5vw 0 5vw;
    }
  }

  .ButtonsRow {
    button {
      width: 14ch;
    }
  }

  .TradeButtonsRow {
    button {
      width: 12ch;
    }
  }

  .AscendioColorBG {
    background-color: #e15252;
  }
  
  .AscendioColor {
    color: #e15252;
  }

  .ButtonNoBG {
    background-color: transparent;
    color: #e15252;
    border: none;
    text-decoration: underline;
  }
  
}

