@import "../../../../public/stylesheets/ButtonsApp.scss";
@import "../../../../public/stylesheets/variables.scss";

*{
  color: white;
}
.mapeoCursosComprados{
  /* background-color: #2E2D2D; */
  background-color: $accent2-color;
  
}

.button{
  padding: 6px 20px !important;
  background-color: $accent3-color;
  color: $accent2-color;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
  &:active,
  &:hover{
    background-color: $accent-color;
    color: $accent2-color;
  }
}

.mainCursosComprados, .headerCursosComprados {
  width: 80vw;
  margin: 0 auto; 
}


.descriptioncard{
  font-size: 1rem;
  color: #9C9999 !important;
}
.followerscard{
  color: white;
  font-size: 1rem;
}

.tagsCourse{
  color: $accent-color;
  font-size: 1rem;
}