@import "../../../../public/stylesheets/variables.scss";

.mapeoCursosComprados{
  background-color: $accent5-color;
}

.mainCursosComprados, .headerCursosComprados {
  width: 80vw;
  margin: 0 auto; 
}

.tagsCourse{
  color: $accent-color;
}