@use "../../../../public/stylesheets/variables.scss" as var;
@use "../../../../public/stylesheets/ButtonsApp.scss" as boton;

.oneCourse {
  .CardCourse {
    width: 75vw;
    background-color: var.$accent2-color;
    color: var.$accent3-color;
    border-radius: 10px;

    .imgOneCourse {
      width: 100%;
      aspect-ratio: 1/0.35;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      object-fit: cover;
    }

    .oneCourseBody {
      width: 100%;

      .editIcon {
        font-size: 100px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: self-end;
        padding-top: 5%;
      }

      .courseTitle {
        font-size: 3rem;
      }

      .followsCourse {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: small;
        color: #9c9999;
      }
  
      .tagCourse {
        width: 100%;
        font-size: small;
        color: var.$accent-color;
        display: flex;
        justify-content: space-around;
      }
  
      .dataCourse {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: right;
        text-align: left;
  
        .dataCourseText {
          font-size: small;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }
      }
  
      .optionsCourse {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
  
        .Button1 {
          width: 12rem;
        }
  
        .priceCourse {
          font-size: 1rem;
          color: var.$accent3-color;
          border: 1px solid white;
          border-radius: 10px;
          display: flex;
          justify-content: center;
        }
  
        .bubbleCourse{
          font-size: 30px;
        }
  
        .likeBoton {
          background-color: transparent;
          border: none;
  
          .addLike {
            color: var.$primary-color;
            font-size: 30px;
          }
  
          .deleteLike {
            color: var.$accent-color;
            font-size: 30px;
          }
        }
      }
  
      .descriptionCourse {
        width: 90%;
        font-size: 1rem;
        color: #9c9999;
      }
  
      .Button1{
        &:hover,
        &:active{
          background-color: transparent;
        }
      }

      .courseCardEnd{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .validarButton{
          font-weight: bolder;
          background-color: transparent;
          border: 3px solid var.$accent-color;
          border-radius: 25px;
          color: var.$accent-color;
          border-color: var.$accent-color;
        }
      }
    }   

    .accordion{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 30px;
      border: none;      
      margin-bottom: 1rem;
      gap: 1rem;
    }
  }

  
}

.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" ,0 "wght" 400, "GRAD" 0, "opsz" 24;
}













/* 
@use "../../../../public/stylesheets/variables.scss" as var;
@use "../../../../public/stylesheets/ButtonsApp.scss" as boton;

.oneCourse {
  .CardCourse {
    width: 75vw;
    background-color: var.$accent2-color;
    color: var.$accent3-color;
    border-radius: 10px;

    .imgOneCourse {
      width: 100%;
      aspect-ratio: 1/0.35;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      object-fit: cover;
    }

    .oneCourseBody {
      width: 100%;

      .editIcon {
        font-size: 100px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: self-end;
        padding-top: 5%;
      }

      .courseTitle {
        font-size: 3rem;
      }

      .followsCourse {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: small;
        color: #9c9999;
      }
  
      .tagCourse {
        width: 100%;
        font-size: small;
        color: var.$accent-color;
        display: flex;
        justify-content: space-around;
      }
  
      .dataCourse {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: right;
        text-align: left;
  
        .dataCourseText {
          font-size: small;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }
      }
  
      .optionsCourse {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
  
        .Button1 {
          width: 12rem;
        }
  
        .priceCourse {
          font-size: 1rem;
          color: var.$accent3-color;
          border: 1px solid white;
          border-radius: 10px;
          display: flex;
          justify-content: center;
        }
  
        .bubbleCourse{
          font-size: 30px;
        }
  
        .likeBoton {
          background-color: transparent;
          border: none;
  
          .addLike {
            color: var.$primary-color;
            font-size: 30px;
          }
  
          .deleteLike {
            color: var.$accent-color;
            font-size: 30px;
          }
        }
      }
  
      .descriptionCourse {
        width: 90%;
        font-size: 1rem;
        color: #9c9999;
      }
  
      .Button1{
        &:hover,
        &:active{
          background-color: transparent;
        }
      }

      .courseCardEnd{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .validarButton{
          font-weight: bolder;
          background-color: transparent;
          border: 3px solid var.$accent-color;
          border-radius: 25px;
          color: var.$accent-color;
          border-color: var.$accent-color;
        }
      }
    }   

    .accordion{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 30px;
      border: none;      
      margin-bottom: 1rem;
      gap: 1rem;
    }
  }

  
}

.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" ,0 "wght" 400, "GRAD" 0, "opsz" 24;
}


 */