@use "./variables.scss" as *;

.FormulariosContainer {
  //inputs:
  .form-control:focus {
    box-shadow: 0 0 0 0.25rem $accent-color !important;
  }
  .form-control {
    border: none;
    border-radius: 25px;
    padding: 0 10px !important;
    background-color: $accent5-color;
  }

  input#formBasicPassword.form-control {
    border-radius: 25px 0 0 25px;    
  }
  .eye-icon {
    cursor: pointer;
    height: 23.99px;
    margin-left: 15px;
    background-color: $accent5-color;
    border-radius: 0 25px 25px 0;
    display: flex;
    padding: 0 2px 0 0 !important;

    path {
      color: $accent2-color;
    }
  }

  div.password-container {
    border-radius: 25px;
    .form-control:focus {
      box-shadow: none !important;
    }
  }
  .eye-icon-focused {
    box-shadow: 0 0 0 0.25rem $accent-color !important;
  }

  
}
