// _variables.scss

// Colores
$primary-color: #aa474c;
$secondary-color: #020301;
$tertiary-color: #1d1d1b;
$accent-color: #e15252; //color tags y boton siguiendo trader : #E15252
$accent2-color: #2e2d2d; //background cards : #2E2D2D
$accent3-color: #ffffff; //titulo cursos : #FFFFFF
$accent4-color: #5de152; //color aciertos: #5DE152
$accent5-color: #aeafae; 
/* color de la descripcion de un curso: #9C9999 */


// Flex
@mixin display-flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//Responsive
$movil: 600px;        // Tamaño típico de móviles en posición vertical
$tableta: 768px;      // Tamaño típico de tabletas en posición vertical
$portatil: 1024px;    // Tamaño típico de portátiles
$grande: 1200px;      // Tamaño típico de pantallas grandes

//992px En adelante, pc
//991px por debajo, movil