@import '../../../public/stylesheets/variables.scss';


.pplCardResource{
  width: 100%;

  .botonResource{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30%;
    

    .resourceIcon{
      color: black;
      font-size: 20px;
    }
  }

  .delResource{
    background-color: transparent;
    border: 1px solid #e15252;
    border-radius: 30%;
    
    .delIcon{
      color: #e15252;
      font-size: 20px;
    }
  }
}


