.RegistroContainer {
  text-align: center;
  padding: 0 10vw;
  p{
    color: white;
    margin: 0.5rem !important;
  }

}

.password-container {
  display: flex;
  align-items: center;
}

.eye-icon {
  cursor: pointer;
  margin-left: 5px; 
}