.CreateGeneralPostUser {
  .CreateGeneralPostH2AscendioColor {
    color: #E15252;
  }

  .ButtonsCreateTradeSpacing {
    margin-right: 2rem !important;
  }
  
  .ButtonImgCreateTradeInput {
    margin-top: 2rem !important;
    margin-bottom: 1.5rem !important;
  }

  .ButtonAcceptCancelCreateTrade {
    width: 13ch;
  }
}

