@import "../../../public/stylesheets/variables.scss";

.nav-bar-button-courses {
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.mapeoAllCourse{
  background-color: $accent5-color;
}

.mainAllCourses, .headerAllCourses {
  width: 80vw;
  margin: 0 auto; 
}

.tagsCourse{
  color: $accent-color;
}
.busqueda{
  color: white;
}