@import "../../../public/stylesheets/variables.scss";

.modaleditarusuario {
  .msgerror {
    background-color: $accent2-color;
    color: $accent-color;
    margin-bottom: 0;
    padding-left: 1rem;
  }

  .edittitle {
    color: $accent3-color !important;
  }
  .imagencursodefecto {
    border-radius: 50% !important;
    height: 100px;
    width: 100px;
    background-color: #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e15252 !important;
    cursor: pointer;
  }

  .imgcourseedicion {
    border-radius: 50% !important;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e15252 !important;
    cursor: pointer;
  }
}
.modalDel {
  &,
  &.modal-dialog,
  &.modal-content,
  &.modal-header,
  &.modal-body,
  &.modal-footer {
    background-color: $accent2-color;
    border-color: $accent2-color;
    color: #9c9999;
  }
}
