@use "../../../../public/stylesheets/variables.scss" as *;

.ascendio-home-row-padre {
  max-width: 100vw;
  padding: 2rem;

  .ascendio-home-row-hijo {
    margin-bottom: 1rem;
  }
}

.ascendio-home-col-cards {
  @include display-flex(row, center, center);
  gap: 0.5rem;
  
  .ascendio-home-card-padre {
    background-color: $accent2-color;
    height: 400px;
  }
}
