.cards-showuser {
  background-color: rgb(43, 42, 41);
  color: white;
  border-radius: 6rem;
  padding: 2rem;
  max-width: 550px;

  img {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1/1;
  }

  button {
    width: 12ch;
  }

  p {
    color: white;
    text-align: left;
  }
}

.ShowAllUserPaddings2-10 {
  padding: 2vw 10vw;
}

@media screen and (max-width: 500px) {
  .showallusers {
    padding: 1rem;
    border-radius: 3rem;

    img {
      width: 75px;
    }
  }
}
