@import '../../../public/stylesheets/variables.scss';

.formTopic{
  width: 80%;

  .botonFormTopic{

    .botonesTopic{
      padding: 6px 20px !important;
      background-color: $accent-color;
      color: $accent3-color;
      border: none;
      border-radius: 25px;
      font-weight: 500;
      transition: 0.3s;
      &:active,
      &:hover{
        // background-color: $accent3-color ; este era el original
        background-color: $accent2-color ;
        color:$accent2-color $accent2-color;
      }
  }
}}