@import "../../../../public/stylesheets/variables.scss";

.mapeoAllCourseOneUser{
  background-color: $accent5-color;
}

.mainAllCoursesOneUser, .headerAllCoursesOneUser {
  width: 80vw;
  margin: 0 auto; 
}

.tagsCourse{
  color: $accent-color;
}
