@import "../../../../public/stylesheets/variables.scss";

.mapeoAllCourseOneUser{
  background-color: $accent2-color;
}

.mainAllCoursesOneUser, .headerAllCoursesOneUser {
  width: 80vw;
  margin: 0 auto; 
}

.descriptioncard{
  font-size: 1rem;
  color: #9C9999 !important;
}

.tagsCourse{
  color: $accent-color;
}
