@import "../../../../public/stylesheets/variables.scss";

.mapeoCursosGuardados{
  background-color: $accent5-color;
}

.mainCursosGuardados, .headerCursosGuardados {
  width: 80vw;
  margin: 0 auto; 
}

.tagsCourse{
  color: $accent-color;
}