@import '../../../public/stylesheets/variables.scss';


.user{
  color: white;
}

.userRow {
  width: 80vw;
  margin: 0 auto; 
}

.custom-table {
  border: 1px solid $accent-color;
  td, th {
    background-color:$tertiary-color !important;
  }
}

.texto-rojo {
  color: $accent-color !important;
}

.enlace-rojo {
  color: $accent-color; 
  text-decoration: underline;
}

.avatarProfilo {
  width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid $accent-color;
  margin: 0 auto; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarProfilo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editIcon {
  font-size: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  padding-bottom: 8px;
}

.Button4 {
  width: 15vw;
}