@use "../../../../../public/stylesheets/variables.scss" as *;

.ascendio-graphic-containerPrincipal {
  width: 80%;
  height: 80%;
  background-color: $secondary-color;
  
  .tradingview-widget-container {
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    @include display-flex(column, center, center);
    flex-wrap: wrap;
  }

  // @media (max-width: 600px) {
  //   width:90%;
  //   height: 50px; // Ajusta la altura automáticamente según el contenido
  // }
}
