@use "../../../../../public/stylesheets/variables.scss" as *;

.ascendio-graphic-containerPrincipal {
  width: 80%;
  height: 80%;
  background-color: $secondary-color;

  .tradingview-widget-container {
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    @include display-flex(column, center, center);
    flex-wrap: wrap;
  }
}

div.tradingview-widget-copyright {
  display: none;
}

@media (min-width: 601px) And (max-width: 1200px) {
  .ascendio-graphic-containerPrincipal {
    width: 80%;
    height: 100%;
    background-color: $secondary-color;

    .tradingview-widget-container {
      background-color: $secondary-color;
      height: 300px;
      width: 100%;
      @include display-flex(column, center, center);
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }
}
